<?xml version="1.0" encoding="UTF-8"?>
<manialink id="{{ id }}">
<frame>
<label 
    posn="-56 42.4 -30" 
    sizen="3.9 3.2" 
    halign="center" 
    valign="center" 
    textsize="1" 
    textcolor="FFFF" 
    text="{{ data.time }}" 
    autonewline="1">
</label>
</frame>
</manialink>
