<?xml version="1.0" encoding="UTF-8"?>
<manialink id="{{box_id}}">
    <frame>
        <quad posn="-58.2 45 -32" sizen="10.8 11.7" style="Bgs1" substyle="BgList"></quad>
        <label posn="-56.1 41 -31" sizen="6.7 3.7" style="TextValueMedium" text="MAPS" action="{{list_id}}"></label>
    </frame>
</manialink>
